
  .scroll-parent {
    position: relative;
    width: 100vw;
    height: 6rem;
    padding: 2rem 0;
    overflow-x: hidden;
  }
  
  .scroll-element {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .scroll-element img {
    width: 15%;
  }
  
  .primary {
    animation: primary 15s linear infinite;
  }
  
  .secondary {
    animation: secondary 15s linear infinite;
  }
  
  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes secondary {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }